h2 Cómo y Cuánto
:markdown
  Los precios del evento son:
  
  +  Regular: AR$ 1,000
  +  Regular (antes del 15 de Octubre) y personas que viajen desde el interior: AR$ 700 (30% descuento)
  +  Estudiantes y socios del MUG: AR$ 500

  Al confirmarnos tu asistencia, te enviaremos un cupón de pago el cuál podrás abonar con tarjeta de crédito, rapipago, pago fácil o transferencia bancaria.
