h2 El primer workshop de node en español
:markdown
  Te proponemos un workshop con mucha práctica donde empezando desde 0 vas a aprender todo lo necesario para construir tu propia aplicacion web real time.