h2 Módulos

p Cada módulo tiene una explicación teórica de aproximadamente 15 minutos y 20 minutos de ejercitación. 

ul.modules
  li.module intro
    br 
    span.desc introduccion a node.js, non-blocking IO y el event loop 

  li.module eventos
    br 
    span.desc sobre la naturaleza de los eventos en node. Escuchar, crear y disparar
  
  li.module streams
    br 
    span.desc entendiendo las clases de stream, como conectarlas y como crear nuestros propios streams
  
  li.module modulos
    br 
    span.desc estructurar, compartir y reusar nuestro código y el de terceros
  
  li.module debug & test
    br 
    span.desc herramientas para depurar, frameworks y workflows de testing
  
  li.module express
    br 
    span.desc crear aplicaciones web con express, artefactos, workflow 
  
  li.module socket.io
    br 
    span.desc construyendo aplicaciones real-time
  
  li.module persistencia
    br 
    span.desc guardando datos en mongodb
  
  li.module deployment
    br 
    span.desc desplegando aplicaciones node.js a la nube, opciones