h2 Registrarme
.register-form
  form#register(method="post")
    input#mail(type="email", name="email", placeholder="email:", required)
    select#category(name="category", required)
      option Normal
      option Estudiante
      option Socio MUG
      option Viajo desde el interior
    input.btn(type="submit", value="enviar") enviar