h2 Quiero mi cupón!
.register-form
  form#register
    input#mail(type="email", name="email", placeholder="email:", required)
    input.btn(type="submit", value="enviar") enviar
.success(style="display: none")
  p Listo! te avisaremos a la brevedad.