h2 Registrarme
img(src="/images/sold_out.gif", style="width: 250px;")

p Nos quedamos sin lugar!

p Pero no te desanimes, tenemos pensado hacerlo pronto nuevamente y vos vas a ser el primero en enterarse.