h2 Trainers
.trainer
  h3 Matías Woloski
  img(src="http://www.gravatar.com/avatar/0cd73f2f2f39709bd03646e9225cc3d3?s=200&r=pg&d=404")
  .bio
    :markdown
     Matías empezó con node.js hace un año y medio trabajando en un editor de textos colaborativos basado markdown llamado [markdownr](http://markdownr.cloudapp.net).

     Desde hace ya un tiempo mantiene un blog comunitario sobre [Node en Azure](http://nodeblog.azurewebsites.net/) y también fue orador este año en JsConfAr.

     Actualmente Matías le saca chispas a Node en su startup [Auth10](http://auth10.com).

.trainer
  h3 José F. Romaniello
  img(src="http://www.gravatar.com/avatar/d1a7e0fbfb2c1d9a8b10fd03648da78f?s=200&r=pg&d=404")
  .bio
    :markdown
      José es desarrollador de software experto en áreas como TDD y tecnologías Microsoft. 

      José ha estado trabajando en node.js los últimos dos años. Recientemente estuvo desarrollando en node.js una plataforma Backend as a Service llamada [kidozen](http://kidozen.com).

      [blog](http://joseoncode.com) 
      [blog](http://es.joseoncode.com) 