h2 Cuándo y Dónde

:markdown
  viernes 2 de noviembre en el auditorio del **MUG** [Rivadavia 1479 - Piso 1](https://maps.google.com/?ll=-34.60891,-58.387444&spn=0.002245,0.00327&t=h&z=19) 

  El evento durá 7 horas y 1 hora de almuerzo (de 10 a 18).