extends layout

block content
  //- .section
  //-   include includes/intro
  .section
    include includes/success
  .section
    include includes/modules
  .section
    include includes/trainers
  .section
    include includes/whenwhere
  //- .section
  //-   include includes/howmuch
  .section
    include includes/register.soldout.jade