!!! 5
html
  head
    //- meta(name="viewport", content='width=device-width, initial-scale=1.0')
    title node workshop
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    link(type='text/css', rel='stylesheet', href='/css/main.css')
    link(type='text/css', rel='stylesheet', href='/css/slicebox.css')
    link(type='text/css', rel='stylesheet', href='/css/custom.css')
    
    script(type="text/javascript", src='/js/modernizr.custom.46884.js')

    script(src='http://code.jquery.com/jquery.min.js') 
    script(src='/js/jquery.slicebox.js') 
  body
    header
      h1 buenos aires node.js workshop
    .main
      block content

  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34910571-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();