extends layout
block content
  :markdown
    # Gracias por registrarte!

    Gracias por registrarte. Algunas recomendaciones:

    +  Es necesario que lleves tu DNI o alguna identificación al workshop.
    +  Es necesario que lleves tu notebook al workshop, con cualquier sistema operativo.
    +  Instalar node.js antes del workshop. Cualquier versión 0.8.x esta bien.
    +  Instalar algún editor de textos para programadores. Nuestra recomendación es instalar Sublime Text 2 que funciona en cualquier sistema operaetivo.
    +  El almuerzo sera provisto por nosotros, no te preocupes por eso!

    Cualquier inquietud no dudes en consultarnos a alguno de nuestros mails o por twitter [@jfroma](http://twitter.com/jfroma), [@woloski](http://twitter.com/woloski), <jfromaniello@gmail.com>, <matiasw@gmail.com>. 

    **Te esperamos!**